<section id="hero">
  <div class="hero-container">
    <div class="wow fadeIn">
      <div class="hero-logo">
        <p class="titleheader"> Friends  x  Food </p>
      </div>

      <h1>the friendship app for foodies</h1>
      <h2>We <span class="rotating">meet., eat., bond.</span></h2>
      <div class="actions">
        <a href="#about" class="btn-get-started">Sign Up</a>
        <a href="#services" class="btn-services">Log In</a>
      </div>
    </div>
  </div>
</section>
