<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Friends x Food</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Raleway" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/animate-css/animate.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/stylesheets/style.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
  </head>

  <body>
    <div id="preloader"></div>


    <!-- <header>
      <h1> Food </h1>

      <nav>
        <a href="/"> Home </a>
        <br>

        <a href="/signup"> Sign Up </a>
        <br>

        <a href="/login"> Log In </a>
        <br>
      </nav>
    </header> -->


    <%- body %>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- Required JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/superfish/hoverIntent.js"></script>
    <script src="lib/superfish/superfish.min.js"></script>
    <script src="lib/morphext/morphext.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/stickyjs/sticky.js"></script>
    <script src="lib/easing/easing.js"></script>

    <!-- Template Specisifc Custom Javascript File -->
    <script src="/javascripts/custom.js"></script>

    <!-- <script src="/contactform/contactform.js"></script> -->


  </body>
</html>
